.login-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: $primary-color;
  @include flex(row, space-between, initial);

  &__left-side,
  &__right-side {
    width: 40%;
    height: 100%;
    position: relative;
  }
  &__left-side {
    @include flex(column, center, center);
  }
  &__right-side {
    @include flex(column, center, center);
    & > div {
      width: 100%;
      & .title {
        margin-bottom: 96px;
        & h1 {
          font-size: 24px;
          font-weight: 700;
        }
        & p {
          font-size: 16px;
          font-weight: 400;
          opacity: 0.787;
          margin-top: 8px;
        }
      }
      & .field-container {
        margin-bottom: 42px;
      }
      & .forgot-password {
        margin-top: 24px;
        & p {
          font-size: 14px;
          text-decoration: underline;
          color: $white;
          font-weight: 400;
          cursor: pointer;
          opacity: 0.87;
          transition: all 0.2s ease-out;
          &:hover {
            opacity: 1;
          }
        }
      }
      & .register-redirect-container {
        margin-top: 64px;
        & p,
        & a {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 12px;
        }
        & a {
          color: #2ea7ff;
        }
      }
    }
  }
}
